{
  "tabWidth": 2,
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
